<h1 class="mt-3">Pipes <small>Angular</small></h1>
<hr>
<div class="row">
  <div class="col">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Variable</th>
          <th>Pipe</th>
          <th>Salida</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ nombre2 }}</td>
          <td>capitalizado</td>
          <td>{{ nombre2 | capitalizado }}</td>
        </tr>
        <tr>
          <td>{{ nombre }}</td>
          <td>uppercase</td>
          <td>{{ nombre | uppercase }}</td>
        </tr>
        <tr>
          <td>{{ nombre }}</td>
          <td>lowercase</td>
          <td>{{ nombre | lowercase }}</td>
        </tr>
        <tr>
          <td>{{ nombre }}</td>
          <td>slice:3</td>
          <td>{{ nombre | slice:3 }}</td>
        </tr>
        <tr>
          <td>{{ arreglo }}</td>
          <td>slice:3:4</td>
          <td>{{ arreglo | slice:3:4 }}</td>
        </tr>
        <tr>
          <td>{{ PI }}</td>
          <td>number:'1.0-0'</td>
          <td>{{ PI | number:'1.0-0' }}</td>
        </tr>
        <tr>
          <td>{{ PI }}</td>
          <td>number:'.0-3'</td>
          <td>{{ PI | number:'.0-3' }}</td>
        </tr>
        <tr>
          <td>{{ porcentaje }}</td>
          <td>percent</td>
          <td>{{ porcentaje | percent }}</td>
        </tr>
        <tr>
          <td>{{ porcentaje }}</td>
          <td>percent:'2.0-2'</td>
          <td>{{ porcentaje | percent:'2.0-2' }}</td>
        </tr>
        <tr>
          <td>{{ salario }}</td>
          <td>currency</td>
          <td>{{ salario | currency }}</td>
        </tr>
        <tr>
          <td>{{ salario }}</td>
          <td>currency:'COP ':'symbol':'.0-0'</td>
          <td>{{ salario | currency:'COP ':'symbol':'.0-0' }}</td>
        </tr>
        <tr>
          <td>{{ salario }}</td>
          <td>currency:'COP':'symbol-narrow'</td>
          <td>{{ salario | currency:'COP':'symbol-narrow' }}</td>
        </tr>
        <tr>
          <td>{{ valorPromesa }}</td>
          <td>async</td>
          <td>{{ valorPromesa | async }}</td>
        </tr>
        <tr>
          <td>{{ fecha }}</td>
          <td>date</td>
          <td>{{ fecha | date }}</td>
        </tr>
        <tr>
          <td>{{ fecha }}</td>
          <td>date:'medium'</td>
          <td>{{ fecha | date:'medium' }}</td>
        </tr>
        <tr>
          <td>{{ fecha }}</td>
          <td>date:'short'</td>
          <td>{{ fecha | date:'short' }}</td>
        </tr>
        <tr>
          <td>{{ fecha }}</td>
          <td>date:'MMMM - YYYY'</td>
          <td>{{ fecha | date:'MMMM - YYYY' }}</td>
        </tr>
        <tr>
          <td>{{ fecha }}</td>
          <td>date:'MMMM - YYYY':'':'en'</td>
          <td>{{ fecha | date:'MMMM - YYYY':'':'en' }}</td>
        </tr>
        <tr>
          <td>{{ fecha }}</td>
          <td>
            date:'MMMM - YYYY':'':'{{ idioma }}'
            <br>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-warning">
                <input type="radio" name="options" id="option1" (click)="idioma = 'es'">Es
              </label>
              <label class="btn btn-primary">
                <input type="radio" name="options" id="option2" (click)="idioma = 'en'"> En
              </label>
              <label class="btn btn-danger">
                <input type="radio" name="options" id="option3" (click)="idioma = 'fr'"> Fr
              </label>
            </div>
          </td>
          <td>{{ fecha | date:'MMMM - YYYY':'':idioma }}</td>
        </tr>
        <tr>
          <td>{{ nombre }}</td>
          <td>contraseña<br>
          <button class="btn btn-outline-primary" (click)="contrasenaFlat = !contrasenaFlat">
            {{ contrasenaFlat ? 'Desactivar' : 'Activar' }}
          </button>
          </td>
          <td>{{ nombre | contrasena:contrasenaFlat }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row mt-5">
  <div class="col">
    <h3>Slice Arreglo <small>slice:3:7</small></h3>
    <h6>Arreglo: [{{ arreglo }}]</h6>
    <hr>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let item of arreglo | slice:3:7">{{ item }}</li>
    </ul>
  </div>
</div>
<div class="row mt-5">
  <div class="col">
    <h3>JSON</h3>
    <hr>
    <p>
      {{ heroe | json }}
    </p>
  </div>
</div>
<div class="row mt-5">
  <div class="col">
    <h3>Dom Seguro</h3>
    <hr>
    <iframe width="560" height="315" [src]="videoUrl | domseguro" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>
</div>